:root {
    --gutter: 20px;
  }

  * {
    font-family: 'Fira Sans', sans-serif;
}

  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }

  .categories_homepage{
    /* grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2)); */
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: minmax(146px, 1fr);
  }
  .promotions_homepage{
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
  }
  .popular_homepage{
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
  }
  
  
  /* Demo styles */
  
  a.disabled {
    pointer-events: none;
    cursor: default;
  }

  html,
  body {
    font-family: 'Fira Sans';font-size: 22px;
    height: 100%;
    background: white ;
  }
  
  body {
    display: grid;
    place-items: center;
    background: #456173;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    font-family: 'Fira Sans';
  }
  
  .headers{
    background:#33D9B2;
  }

  .app {
    width: 375px;
    height: 667px;
    background: #DBD0BC;
    overflow-y: scroll;
  }
  
  .hs > li,
  .itemCard {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }

  .md-card-bg .md-card-subtitle,
.md-card-bg .md-card-title {
    position: absolute;
    top: 50%;
    color: #fff;
    width: 100%;
}

.md-card-bg .md-card-title {
    margin-top: -30px;
}

.md-card-bg .md-card-subtitle {
    margin-top: 10px;
}


.categories_homepage{
  /* grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2)); */
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: minmax(146px, 1fr);
}
.promotions_homepage{
  grid-template-columns: repeat(6, 359px);
  grid-template-rows: minmax(268px, 1fr);
}
.popular_homepage{
  grid-template-columns: repeat(6, 359px);
  grid-template-rows: minmax(268px, 1fr);
}

.fontTitle{
    font-size: 24px;
}

/* .product_details_Img{
  height: 510px;
  object-fit: cover;
} */


.loginLogo{
  margin: 119px auto 119px auto;
}

.primary_but{
  width: 800px;
  height: 61px;
  background-color: #33D9B2;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.secondary_but{
  width: 800px;
  height: 61px;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.secondary_but2{
  text-align: center;
border: solid 2px #33D9B2;
color: #33D9B2;
padding-left: 25px;
padding-right: 25px;
font-size: 14px;
width: 100%;
height: 20%;
}

.secondary_but3{
  text-align: center;
  border: solid 2px #33D9B2;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  width: 100%;
  height: 20%;
  background-color: #fff;
}

.text_box{
  height: 50px;
}

.form1{
  width: 800px;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.summaryDiv_payment{
  height: 400px;
  background-color: black;
  
}

.padding35_payment{
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
}

.padding35LeftandRight_payment{
  padding-right: 35px;
  padding-left: 35px;
}

.paymentOption_Card{
  width: 360px;
  height: 50px;
}

.add_to_bill_payment{
  width: 65%;
  height: 231px;
  background-color: #E8E6E6;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.agreementLabel_payment{
  color: red;
  margin-left: 4%;
  margin-top: 0.3%;
  font-size: 14px;
}

.cardsx {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* ====================================media quaries------------------------------------- */


/* iPhone landscape */
@media (orientation: landscape) and (max-device-width : 812px){
  /* .ui-block-a {
  background-color: lightblue;
   } */

   html,
   body {
     font-size: 20px;
   }
   .cardsx { grid-template-columns: repeat(3, 1fr); }
     
   .ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
    width: 33%;
    }
    .product_details_Img{
      height: 250px;
      object-fit: cover;
    }

    .loginLogo{
      margin: 60px auto 20px auto;
    }
    .primary_but{
      width: 600px;
      height: 51px;
      background-color: #33D9B2;
    }

    .secondary_but{
      width: 600px;
      height: 51px;
      
    }


    .text_box{
      height: 51px;
    }
    
    .form1{
      width: 600px;
      display: inherit;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

<<<<<<< Updated upstream
=======
    .summaryDiv_payment{
      height: 293px;
    }
>>>>>>> Stashed changes

  }
  /* iPhone portrait */
  @media (orientation: portrait) and (max-device-width : 414px){
    .add_to_bill_payment {
      width: 100%;
    }

    html,
  body {
    font-size: 16px;
  }
    
    
   .product_details_Img{
    height: 208px;
    object-fit: cover;
  }

  .primary_but{
    width: 326px;
    height: 45px;
    background-color: #33D9B2;
  }

  .secondary_but{
    width: 326px;
    height: 45px;
  }

  .agreementLabel_payment{
    margin-left: 4%;
    margin-top: 2.2%;
    font-size: 11px;
  }

  .text_box{
    height: 45px;
  }
  
  .form1{
    width: 326px;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .summaryDiv_payment{
    height: 255px;
  }

  /* homepage cards media queries */
  .categories_homepage{
    /* grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2)); */
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: minmax(82px, 1fr);
  }
  .promotions_homepage{
    grid-template-columns: repeat(6, 248px);
    grid-template-rows: minmax(171px, 1fr);
  }
  .popular_homepage{
    grid-template-columns: repeat(6, 248px);
    grid-template-rows: minmax(171px, 1fr);
  }
  }

   /* ipad landscape */
   @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape){
   .ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
    width: 32.333%;
    }
    .product_details_Img{
      height: 510px;
      object-fit: cover;
    }


    /* homepage cards media queries */
    .categories_homepage{
      /* grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2)); */
      grid-template-columns: repeat(6, 200px);
      grid-template-rows: minmax(146px, 1fr);
    }
    .promotions_homepage{
      grid-template-columns: repeat(6, 359px);
      grid-template-rows: minmax(268px, 1fr);
    }
    .popular_homepage{
      grid-template-columns: repeat(6, 359px);
      grid-template-rows: minmax(268px, 1fr);
    }

    .fontTitle{
        font-size: 24px;
    }

    .summaryDiv_payment{
      height: 320px;
    }
    .cardsx { grid-template-columns: repeat(3, 1fr); }
    
  }
  /* ipad portrait */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
        .ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
          width: 45%;
          }
      .product_details_Img{
        height: 510px;
        object-fit: cover;
      }

      .fontTitle{
        font-size: 24px;
      }

      .cardsx { grid-template-columns: repeat(2, 1fr); }

        /* homepage cards media queries */
        .categories_homepage{
          /* grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2)); */
          grid-template-columns: repeat(6, 200px);
          grid-template-rows: minmax(146px, 1fr);
        }
        .promotions_homepage{
          grid-template-columns: repeat(6, 359px);
          grid-template-rows: minmax(268px, 1fr);
        }
        .popular_homepage{
          grid-template-columns: repeat(6, 359px);
          grid-template-rows: minmax(268px, 1fr);
        }

  } /* ipad portrait */

 


  