/* Style tab links */
.tablink {
    background-color:white !important;
    color: #968e8e !important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    width: 50%;
    height: 92%;
    box-shadow: 0px 0px 0px 0px #000000;
    border-radius: 0px !important;
  }
  
  .tablink::after {
    border-bottom: 2px solid #33D9B2;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(5, 5, 5);
    display: none;
    height: 100%;

  }

  .revieworderbtn{
    font-family: 'Fira Sans' !important;
    text-align:center !important; 
    background-color: #33D9B2 !important;
    border: solid 2px #33D9B2 !important; 
    color: #000000 !important; 
    padding-left: 25px !important; 
    padding-right:25px !important; 
    font-size:14px !important; 

  }

  /* ipad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* ipad landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {


}

/* iPhone landscape */
@media (orientation: landscape) and (max-device-width: 812px) {

}

/* iPhone portrait */
@media (orientation: portrait) and (max-device-width: 414px) {


}