/* ipad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
   .contentMargin{
      margin-top: 2rem;
      margin-left: 3rem;
      margin-right: 3rem;
   }
}

/* ipad landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
   .contentMargin{
      margin-top: 2rem;
      margin-left: 3rem;
      margin-right: 3rem;
   }
}

/* iPhone landscape */
@media (orientation: landscape) and (max-device-width: 812px) {

   .contentMargin{
      margin-top: 2rem;
      margin-left: 3rem;
      margin-right: 3rem;
   }
}

/* iPhone portrait */
@media (orientation: portrait) and (max-device-width: 414px) {

   .contentMargin{
      margin-top: 2rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
   }

  .fontSize_14 {
    font-size: 14px;
  }

  .mapDiv{
   height: 176px;
   width: 207px;
 }
}
