/* d-none */
.noneDisplay {
   display: none !important;
 }
 
 .block {
   display: block !important;
 }
 
 @media (min-width: 576px) {
   .noneSmDisplay {
     display: none !important;
   }
 
   .smBlock {
     display: block !important;
   }
 }
 
 @media (min-width: 768px) {
   .noneMdisplay {
     display: none !important;
   }
 
   .mdBlock {
     display: block !important;
   }
 }
 
 @media (min-width: 992px) {
   .noneLgisplay {
     display: none !important;
   }
 
   .lgBlock {
     display: block !important;
   }
 }