.flexcolumn{
    display: flex; 
    flex-direction: column;
}

.flexrow{
    display: flex; 
    flex-direction:row;
}

.welcomeimg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 300px 0;
}

.welcomebuttondiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 55px;   
    height: 112px; 
    box-shadow: 1px -4px 7px -6px #000000; 
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 93%;
    left: 17%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.welcomebutton {
	box-shadow: 1px 2px 11px -6px #000000;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:3px solid #33d9b2;
	display:inline-block;
	cursor:pointer;
	color:#666666 !important;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	font-size:15px;
	font-weight:bold;
	padding:12px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.welcomebutton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.welcomebutton:active {
	position:relative;
	top:1px;
}